h1 {
  font: "Oxygen", Helvetica, Arial, sans-serif;
  text-align: center;
}

h2 {
  text-align: center;
}

#logo{
  height: -webkit-fill-available;
}

.navbar-brand {
  padding: 10px 10px;
}

body {
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  background-color: lightgrey;
}

.quiz {
  background-color:white;
  border-radius: 25px;
  padding-bottom: 25px;
  text-align:center;
}

.quiz-header{
    color: white;
    background-color: orange;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 10px;
    text-overflow: ellipsis;
}

.quiz-content {
  padding: 25px;
}

.quiz-footer {
  padding: 5px;
}


#jumbotron {

}
a {
  color: #00B7FF;
}


/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none; 
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

/* Hide all steps by default: */
.tab {
  display: none;
}


