h1 {
  font: "Oxygen", Helvetica, Arial, sans-serif;
  text-align: center;
}

h2 {
  text-align: center;
}

h6 {
  text-align: center;
}

main {
  padding-left:15%;
  padding-right:15%;
}

.fakebutton{
  background-color: white;
  border-color: #lightgrey;
  border-radius: 10px;
  border-width: 2px;
  padding-right: 10px;
  color: black;
}

#brand {
  font-size:larger;
/*  padding-left:.5em;*/
}

#tagline {
  font-size:x-small;
  color:grey;
/*  padding-left:.5em;*/
}

#logo{
  height: 2em;
  margin-right: 6em;
}

a {
  padding: 0.5em;
}

nav {
  background-color: white;
}

#dropdownMenu1{
  padding: 0.5em;
}

#navfilter {
  padding: 1em;
/*  background-color: grey;*/
}
/*.navbar-brand {
  padding: 10px 10px;
}*/

/*#homepage {
  padding-top: 60px;
}*/
body {
/*  padding-top: 60px;*/
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  background-color: lightgrey;
}

.contract {
  margin:20px;
  background-color:white;
  border-radius: 25px;
  padding-bottom: 25px;
  text-align:left;
}


.filter {
  color: white;
  background-color: orange;
  padding:25px;
  vertical-align: center;
}

.quiz {
  margin:20px;
  background-color:white;
  border-radius: 25px;
  padding-bottom: 25px;
  text-align:center;
}

.quiz-header{
    color: white;
    background-color: orange;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 10px;
    text-overflow: ellipsis;
    text-align:center;
}

.quiz-content {
  padding: 25px;
}

.quiz-footer {
  padding: 5px;
}

a {
  color: #00B7FF;
}

#nextBtn, #prevBtn, {
  margin-bottom:10px;
}

#saveBtn, #submitBtn {
  margin:5px;
}

#sell-form {
  text-align: left;
}

#search-form {
  text-align: center;
}

.center { 
  text-align: center;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-top: 15px;
  background-color: #bbbbbb;
  border: none; 
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

.hidden {
  display: none;
}


/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center;
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
/*  border-right: 1px solid #eee;*/
  background-color: grey;
  color:white;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
