</!DOCTYPE html>
<html>
<head>
	<!-- Jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
	<!--- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<!--- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Oxygen:700|Roboto" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" href="stylesheets/style.css">
	<!-- Custom Scripts -->
	<script src="/javascripts/sell-contract-ctrl.js"></script>
	<script src="/javascripts/nav-ctrl.js"></script>

	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/live/4.3/firebase.js"></script>
	<script src="/javascripts/config.js"></script>
    <script src="/javascripts/common.js"></script>
	<script src="https://www.gstatic.com/firebasejs/ui/2.5.1/firebase-ui-auth__en.js"></script>
	<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/2.5.1/firebase-ui-auth.css" />


	<title>Dibs BYU Housing</title>
	<LINK REL="SHORTCUT ICON"
				 HREF="/images/house.ico"></LINK>
</head>
<body>
<!--Navigation bar-->
<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
    	<img id="logo" src="/images/house.ico">
    	Dibs
    </a>
    <div class="mr-auto"></div>
    <ul class="navbar-nav d-flex justify-content-end collapse">
      <li class="nav-item">
        <a class="nav-link" href="/sellcontract">Sell Contract</a>
      </li>
      <li id="nav-user-signed-out" class="nav-item">
        <a class="nav-link" href="/signin">Login</a>
      </li>
      <li id="nav-user-signed-in" class="hidden nav-item">
        <a class="nav-link" href="/signin">Account</a>
      </li>
    </ul>
</nav>
<!--end of Navigation bar-->

	<div ng-app="contract" ng-controller="MainCtrl" class="container">
		<div class="quiz">
			<div class="quiz-header">
					<h2>Sell Contract</h2>
			</div>
		<form id="sell-form" class="quiz-content" action="" ng-submit="save()">
				<h2>Contact Information</h2>
			<div class="form-group row">
  			<label for="contact-name" class="col-sm-2 col-form-label">Name</label>
  			<div class="col-sm-10">
    			<input ng-model="sellername" class="form-control" type="text" value="" id="contact-name" placeholder="Name of Seller">
			  </div>
			</div>
			<div class="form-group row">
			  <label for="contact-email" class="col-sm-2 col-form-label">Email</label>
			  <div class="col-sm-10">
			    <input ng-model="selleremail" class="form-control" type="email" value="" id="contact-email" placeholder="">
			  </div>
			</div>
			<div class="form-group row">
			  <label for="contact-tel" class="col-sm-2 col-form-label">Phone</label>
			  <div class="col-sm-10">
			    <input ng-model="sellertel" class="form-control" type="tel" value="1-(555)-555-5555" id="contact-tel">
			  </div>
			</div>
			<div class="form-group row">
			 	<label class="col-sm-2 col-form-label">Preferred Contact Method</label>
			 	<div class="col-sm-10" data-toggle="buttons">
					<label class="btn btn-secondary">
						 <input type="checkbox" autocomplete="off">Call
					</label>
					<label class="btn btn-secondary">
							<input type="checkbox" autocomplete="off">Text
					</label>
					<label class="btn btn-secondary">
							<input type="checkbox" autocomplete="off">Email
					</label>
				</div>
			</div>

			<hr>

			<h2> Property Information </h2>
			<!-- date available -->
			<div class="form-group row">
			  <label for="date-available" class="col-sm-2 col-form-label">Date Available</label>
			  <div class="col-sm-10">
			    <input ng-model="date" class="form-control" type="date" value="2011-08-19" id="date-available">
			  </div>
			</div>
			 <!-- address-line1 input-->
			<div class="form-group row">
			    <label class="col-sm-2 col-form-label">Address</label>
			    <div class="col-sm-10">
			        <input ng-model="address" id="address-line1" name="address-line" type="text" placeholder="address line 1"
			        class="form-control">
			    </div>
			</div>
			<!-- city input-->
			<div class="form-group row">
			    <label class="col-sm-2 col-form-label">City</label>
			    <div  class="col-sm-10">
			        <input ng-model="city" id="city" name="city" type="text" placeholder="city" class="form-control">
			    </div>
			</div>
			<!-- postal-code input-->
			<div class="form-group row">
			    <label class="col-sm-2 col-form-label">Zip Code</label>
			    <div class="col-sm-10">
			        <input ng-model="zip" id="postal-code" name="postal-code" type="text" placeholder="zip or postal code"
			        class="form-control">
			    </div>
			</div>
			<div class="form-group row">
			  <label for="rent-usd" class="col-sm-2 col-form-label">Rent</label>
			  <div class="col-sm-10">
			    <input ng-model="rent" class="form-control" type="number" value="" id="rent-usd">
			  </div>
			</div>

			<div class="form-group row">
			  <label for="deposit-usd" class="col-sm-2 col-form-label">Deposit</label>
			  <div class="col-sm-10">
			    <input ng-model="deposit" class="form-control" type="number" value="" id="deposit-usd">
			  </div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Contract Type</label>
				<div class="col-sm-10" data-toggle="buttons">
					<label class="btn btn-secondary active">
						 <input type="radio" name="options" id="option1" autocomplete="off" checked>Family
					</label>
					<label class="btn btn-secondary">
							<input type="radio" name="options" id="option2" autocomplete="off">Women
					</label>
					<label class="btn btn-secondary">
							<input type="radio" name="options" id="option3" autocomplete="off">Men
					</label>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Bedrooms</label>
				<div class="col-sm-10" data-toggle="buttons">
					<label class="btn btn-secondary active">
						 <input type="radio" name="options" id="option1" autocomplete="off" checked>Studio
					</label>
					<label class="btn btn-secondary">
							<input type="radio" name="options" id="option2" autocomplete="off">1
					</label>
					<label class="btn btn-secondary">
							<input type="radio" name="options" id="option3" autocomplete="off">2
					</label>
					<label class="btn btn-secondary">
							<input type="radio" name="options" id="option3" autocomplete="off">3+
					</label>
				</div>
		 </div>


		<div class="form-group row">
		 	<label class="col-sm-2 col-form-label">Amenities</label>
		 	<div class="col-sm-10" data-toggle="buttons">
				<label class="btn btn-secondary">
					 <input type="checkbox" autocomplete="off">W/D In Unit
				</label>
				<label class="btn btn-secondary">
						<input type="checkbox" autocomplete="off">W/D On Site
				</label>
				<label class="btn btn-secondary">
						<input type="checkbox" autocomplete="off">W/D Hookups
				</label>
				<label class="btn btn-secondary">
						<input type="checkbox" autocomplete="off">Microwave
				</label>
				<label class="btn btn-secondary">
						<input type="checkbox" autocomplete="off">Dishwasher
				</label>
				<label class="btn btn-secondary">
						<input type="checkbox" autocomplete="off">Covered Parking
				</label>
				<label class="btn btn-secondary">
						<input type="checkbox" autocomplete="off">Pool
				</label>
				<label class="btn btn-secondary">
						<input type="checkbox" autocomplete="off">Hot tub
				</label>
				<label class="btn btn-secondary">
						<input type="checkbox" autocomplete="off">Gym
				</label>
			</div>
		</div>

			<hr>

			<h2> Photos & Description </h2>
			<!-- date available -->


		<div class="form-group row">
		  <label for="description" class="col-sm-2 col-form-label">Description</label>
		  <div class="col-sm-10">
		  	<textarea ng-model="description" class="form-control" rows="5" id="description"></textarea>
		  </div>
		</div>


		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Photos</label>
			<div class="col-sm-10 container">
          <!-- Standard Form -->
<!--           <form action="" method="post" enctype="multipart/form-data" id="js-upload-form" onsubmit="submitUpload()"> -->
            <div class="form-inline">
              <div class="form-group">
                <input type="file" name="files[]" id="js-upload-files" multiple>
              </div>
              <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit" onclick="submitUpload()">Upload files</button>
            </div>
<!--           </form> -->

          <!-- Drop Zone -->
          <p>Or drag and drop files below</p>
          <div class="upload-drop-zone" id="drop-zone">
            Just drag and drop files here
          </div>

          <!-- Progress Bar -->
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
              <span class="sr-only"></span>
            </div>
          </div>

          <!-- Upload Finished -->
          <div class="js-upload-finished">
            <p>Processed files</p>
            <div class="list-group">
            </div>
          </div>
    	</div> <!-- /container -->
  	</div>

  	<div class="form-group row center">
  		<button id="saveBtn" type="submit" class="btn btn-secondary">Save Draft</button>
  		<button id="submitBtn" type="submit" class="btn btn-info">Submit</button>
  	</div>

	</form>
	<script src="/javascripts/user-firebase.js"></script>
	<script src="/javascripts/debug-contract.js"></script>
	</div>
	</div>

</body>
</html>