<html>
<head>
	<!-- Jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
	<!--- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- Angular -->
	<script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
	<!--- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Oxygen:700|Roboto" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" href="stylesheets/style.css">
	<!-- Custom Scripts -->
	<script src="/javascripts/signin-ctrl.js"></script>
	<script src="/javascripts/nav-ctrl.js"></script>

	<title>Dibs BYU Housing</title>
	<LINK REL="SHORTCUT ICON"
				 HREF="/images/house.ico"></LINK>
</head>
<body ng-app="dibs-user" ng-controller="MainCtrl">
<!--Navigation bar-->
<div id="nav-placeholder">
</div>
<script>
$(function(){
  $("#nav-placeholder").load("nav.html");
});
</script>
<!--end of Navigation bar-->

<div class="container">
	<form id="signin-form" ng-submit="loginRegister()" class="quiz" action="">
		<div class="quiz-header">
			<h3>Login or Register</h3>
		</div>

	<div class="quiz-content">
		<div class="form-group row">
		  <label for="user-email" class="col-sm-2 col-form-label">Email</label>
		  <div class="col-sm-10">
		    <input ng-model="email" class="form-control" type="email" value="" id="user-email" placeholder="Email">
		  </div>
		</div>

		<div class="form-group row">
		    <label for="user-password" class="col-sm-2 col-form-label">Password</label>
		    <div class="col-sm-10">
		    	<input ng-model="password" type="password" class="form-control" id="user-password" placeholder="Password">
		    </div>
	  	</div>
	  </div>

	<div class="quiz-footer">
			<button id="login" class="btn btn-info btn-submit quiz-btn" type="submit">Login / Register </button>
			<button id="login" class="btn btn-info btn-submit quiz-btn" type="button">Login with Google</button>
	</div>


</form>

</body>
</html>
